:root {
    --grey-100: #333333;
    --grey-50: #828282;
    --grey-0: #F5F5F5;
    --color-primary: #2E245E;
    --color-secondary: #37268C;
}

body {
    color: var(--grey-100);
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.25);
    height: 65px;
    width: 90vw;
    padding-bottom: 10px;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.filter-selected {
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px 115px;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.1);
}

.card figure {
    width: 100%;
    align-self: center;
    background-color: var(--grey-0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.card figure img {
    width: 90%;
}

.card figcaption {
    display: none;
}

.card section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 296px;
    padding: 0 10px 20px 10px;
}

.card .category {
    background-color: var(--color-primary);
    color: white;
    padding: 5px 6px;
    box-shadow: 1px 1px 2px 2px var(--color-primary);
}

.font-small-size {
    font-size: 15px;
}

.font-small-size a {
    font-weight: bold;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
    width: 347px;
    height: 50px;
    gap: 8px;
}

.search-box input {
    background-color: var(--grey-0);
    width: 246px;
    border: none;
    padding-left: 3%;
}

.search-box button {
    background-color: var(--color-secondary);
    color: white;
    width: 96px;
    border: none;
    text-decoration: none;
}

.shopping-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.shopping-cart h3 {
    background-color: var(--color-secondary);
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
}

.shopping-cart-inside {
    width: 100%;
    border: 1px solid var(--grey-0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 214px;
    max-height: 260px;
    background-color: var(--grey-0);
    overflow: auto;
}

#box-aviso {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-aviso h4,
#box-aviso p {
    margin: 10px 0;
}

.esconder {
    display: none;
}

.card-carrinho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
    border: none;
}

.card-carrinho figure {
    margin: 0 20px 0 0;
    width: 90px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-carrinho img {
    width: 100%;
}

.card-carrinho div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-carrinho div a,
.card-carrinho div h4,
.card-carrinho div p {
    margin: 0;
    font-size: 14px;
}

#sum-box {
    width: 100%;
    height: 126px;
    background-color: var(--grey-100);
    color: white;
}

#sum-box ul {
    padding: 0 40px;
}

#sum-box ul li {
    display: flex;
    justify-content: space-between;
}